.dell
	display: flex
	justify-content: center
	justify-items: center
	min-height: 100vh
	background-color: rgba(0, 0, 0, .7)

	position: fixed
	top: 0
	right: 0
	bottom: 0
	left: 0




.last_wrap,
.quest_wrap
	display: flex
	width: 1183px
	min-height: 650px
	box-sizing: border-box
	overflow: hidden
	border-radius: 5px
	margin: auto

.quest_body
	width: 923px
	//height: 100%
	background-color: #fff
	display: flex
	flex-direction: column
	padding: 30px 30px 20px 30px
.quest_title
	font-size: 1.7rem
	font-weight: 500
	line-height: 1.15
	margin-bottom: 2rem
.quest_inner
	display: flex
	flex-wrap: wrap
	justify-content: space-between

.quest_conditions
	width: 100%
	margin-bottom: 1rem
.quest_condition-imp
	display: inline-block
	position: relative
	padding: 2px 10px 2px 25px
	font-size: 0.8rem
	border-radius: 3px
	//background-color: rgba($accent, .3)
	//border: 1px solid darken( $accent, 5%)
	background-color: darken( #f7f7f7, 5%)
	border: 1px solid darken( #f7f7f7, 10%)
	margin-right: .5rem
	margin-bottom: .5rem
	&::after
		content: '🗸'
		display: block
		width: 13px
		height: 13px
		background-color: darken( $accent, 5%)
		border-radius: 50%
		position: absolute
		left: 5px
		top: 6px
		text-align: center
		line-height: 16px
		color: #fff

.quest_condition
	display: inline-block
	padding: 2px 10px
	font-size: 0.8rem
	border-radius: 3px
	background-color: darken( #f7f7f7, 5%)
	border: 1px solid darken( #f7f7f7, 10%)
	margin-right: .5rem
	margin-bottom: .5rem

.quest_item
	width: calc((100% / 2) - .5rem)
	min-height: 50px
	margin-bottom: 1rem
	box-sizing: border-boxf
	border: 1px solid #e6e6e6
	border-radius: 5px
	&:nth-child(even)
		margin-right: 0
	&:hover,
	&:focus
		box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)
.quest_item.active
	border-color: rgba(206, 108, 71, .7)


.quest_lable-radio
	position: relative
	display: block
	width: 100%
	height: 100%
	display: flex
	justify-items: center
	padding: 10px 10px 10px 48px
	cursor: pointer

.quest_item_name
	display: inline-block
	&::before
		content: ''
		position: absolute
		//top: 13px
		top: calc( 50% - 11px )
		left: 13px
		display: block
		width: 20px
		height: 20px
		border-radius: 50%
		background-color: #e8e8e8

.quest_radio
	display: none
	&:checked + .quest_item_name::before
		font-size: 2rem
		font-weight: 700
		line-height: 20px
		border: 2px solid $accent
		background: #fff url(../images/src/icons/point.svg) center center no-repeat
		box-shadow: 0 2px 4px 0 rgba(206, 108, 71, .5)

	&:checked + .quest_item_name-inp::before
		font-size: 2rem
		font-weight: 700
		line-height: 20px
		border: 2px solid $accent
		background: #fff url(../images/src/icons/point.svg) center center no-repeat
		box-shadow: 0 2px 4px 0 rgba(206, 108, 71, .5)


.quest_item_name_2
	display: inline-block
	&::before
		content: ''
		position: absolute
		top: calc( 50% - 10px )
		left: 13px
		display: block
		width: 20px
		height: 20px
		border-radius: 3px
		font-size: 1rem
		text-align: center
		line-height: 20px
		background-color: #e8e8e8

.quest_lable-radio-inp
	position: relative
	display: block
	width: 100%
	height: 100%
	display: flex
	justify-items: center
	padding: 0 0 0 48px
	cursor: pointer

.quest_item_name-inp
	position: relative
	display: block
	width: 100%
	&::before
		content: ''
		position: absolute
		top: 13px
		left: -34px
		display: block
		width: 20px
		height: 20px
		border-radius: 50%
		background-color: #e8e8e8

.quest_item_name_2-inp
	position: relative
	display: block
	width: 100%
	&::before
		content: ''
		position: absolute
		top: calc( 50% - 10px )
		left: -34px
		display: block
		width: 20px
		height: 20px
		border-radius: 3px
		font-size: 1rem
		text-align: center
		line-height: 20px
		background-color: #e8e8e8

.quest_checkbox
	display: none
	&:checked + .quest_item_name_2::before
		content: '✔'
		background-color: $accent
		color: #fff
		box-shadow: 0 2px 4px 0 rgba(206, 108, 71, .5)
	&:checked + .quest_item_name_2-inp::before
		content: '✔'
		background-color: $accent
		color: #fff
		box-shadow: 0 2px 4px 0 rgba(206, 108, 71, .5)

.quest_radio-input
	position: absolute
	display: block
	width: 100%
	top: 0
	right: 0
	left: 0
	bottom: 0
	padding: 10px
	border: none
	background-color: $bggray
	overflow: hidden
	&::placeholder
		font-weight: 300


.quest_footer
	display: flex
	justify-content: space-between
	justify-items: center
	height: 70px
	border-top: 1px solid #f3f3f3
	margin-top: auto


.quest_footer_stap_wrap
	font-size: .95rem
	span
		display: inline-block
		margin-right: .25rem
	margin-top: auto
	margin-bottom: auto
.stap_namber
	width: 25px
	height: 25px
	border-radius: 100%
	background-color: darken($accent, 5%)
	color: #fff
	text-align: center




.quest_footer_btn_wrap
	width: 200px
	display: flex
	margin-top: auto
	margin-bottom: auto
.stap_btn_back
	display: block
	width: 45px
	height: 45px
	background-color: #fff
	border: 2px solid darken(#f7f7f7, 10%)
	border-radius: 50%
	margin-right: 1rem
	color: darken(#f7f7f7, 10%)

.stap_btn_next
	display: block
	width: 120px
	height: 45px
	background-color: darken($accent, 5%)
	border: 2px solid darken($accent, 5%)
	border-radius: 45px
	margin-right: 1rem
	color: #fff
	text-align: center
.stap_btn_next.last
	width: 145px
	font-size: .85rem

.stap_btn_next:disabled,
.stap_btn_next[disabled]
	opacity: .6

.back_icon svg
	fill: darken(#f7f7f7, 10%)

.next_icon svg
	width: 25px
	display: inline-block
	margin-left: 2px
	fill: #fff

.quest_info
	width: 260px
	background-color: #f7f7f7
	padding: 30px 15px
	display: flex
	flex-direction: column
	justify-content: space-between
	overflow: hidden

.quest_user_wrap
	display: flex
	justify-content: space-between
	margin-bottom: 1.375rem
.quest_user_img_wrap
	position: relative
	width: 80px
	height: 80px
	&::after
		content: ''
		display: block
		width: 13px
		height: 13px
		box-sizing: border-box
		background-color: green
		border: 2px solid #fff
		border-radius: 100%
		position: absolute
		bottom: 7px
		right: 1px
		z-index: 20

.quest_user_img
	width: 100%
	border-radius: 100%
	z-index: 10

.quest_user_name_wrap
	width: calc( 100% - 95px )
	display: flex
	flex-direction: column
	justify-content: center
	line-height: 1.35

.quest_user_name
	font-size: 1rem
	font-weight: 500

.quest_user_position
	font-size: .8rem
	font-weight: 300

.quest_info_massege
	position: relative
	padding: .75rem
	font-size: .8rem
	font-weight: 300
	line-height: 1.5
	border-radius: .75rem
	background-color: darken(#f7f7f7, 5% )

	&::after
		content: ''
		width: 0
		height: 0
		border-left: 10px solid transparent
		border-right: 10px solid transparent
		border-bottom: 15px solid darken(#f7f7f7, 5% )
		position: absolute
		top: -15px
		left: 30px



.quest_offer_item
	position: relative
	display: flex
	justify-content: space-between
	width: 100%
	height: 65px
	padding: 10px
	background-color: darken(#f7f7f7, 10% )
	border-radius: 1rem
	margin-bottom: 1rem
	box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)
	&::after
		content: ''
		display: block
		width: 22px
		height: 22px
		background-color: darken(#f7f7f7, 20% )
		border: 3px solid #fff
		border-radius: 100%
		background: darken(#f7f7f7, 20% ) url(../images/src/icons/locker.svg) center center no-repeat
		background-size: 60%
		padding: 3px
		position: absolute
		top: -10px
		right: -7px
		box-shadow: 0 4px 10px 0 rgba(0,0,0,.1)

	&:last-child
		margin-bottom: 0



.quest_offer_icon
	width: 45px
	height: auto


.quest_offer_text
	width: calc( 100% - 50px )
	font-size: .9rem
	font-weight: 600
	line-height: 1.25
	text-align: right
	padding-right: 10px

.quest_message
	width: 100%
	border: 1px solid darken(#e6e6e6, 5%)
	border-radius: .5rem
	padding: .75rem 1rem


.last_body
	width: calc( 100% - 400px )
	background-color: #fff
	padding: 40px 60px
	display: flex


.last_inner
	margin-top: auto
	margin-bottom: auto
	color: rgba(0, 0, 0, 0.7)
.last_title
	font-size: 1.6rem
	font-weight: 500
	margin-bottom: .75rem

.last_subtitle
	font-weight: 500
	margin-bottom: .75rem
.last_p
	font-size: 1.05rem
	font-weight: 300
	margin-bottom: 3rem
.last_offer_title
	font-weight: 700
	font-size: .82rem
	line-height: 1.53
	letter-spacing: 1.1px
	text-transform: uppercase
	color: rgba(0, 0, 0, 0.7)



.last_offer_wrap
	display: flex
	flex-wrap: wrap
	.quest_offer_item
		width: 200px
		margin-right: 1rem
		margin-bottom: 1rem



.last_info
	width: 400px
	background-color: #fff
	border-left: 1px solid #fff
	box-shadow: 2.5px 8.7px 15px 0 rgba(0,0,0,.11)
	padding: 40px 60px

	display: flex






.quest_last_form
	width: 100%
	display: block
	margin: auto 0
.last-group
	margin-bottom: .75rem



.last-label
	font-size: .9rem
	font-weight: 600
	color: rgba(0, 0, 0, 0.7)
	margin-bottom: .2rem

.last-input
	position: relative
	width: 100%
	border: 1.2px solid #b1b5be
	border-radius: 4px
	padding: .5rem
	color: #363636

.user-name
	position: relative
	.last-input
		padding-left: 48px

	&::before
		content: ''
		display: block
		position: absolute
		top: 40px
		left: 12px
		width: 22px
		height: 22px
		z-index: 15
		background-image: url(/images/src/icons/user.svg)
		background-repeat: no-repeat
		background-position: center center
		opacity: .5

.last-input-name.error,
.last-input.error
	border-color: red



.iti
	width: 100%

.last-btn
	display: block
	width: 100%
	text-decoration: none
	box-sizing: border-box
	background-color: darken($accent, 15%)
	color: #fff
	font-weight: 500
	line-height: 1.5
	text-align: center
	vertical-align: middle
	cursor: pointer
	user-select: none
	border: 1px solid  darken($accent, 15%)
	padding: .54rem 2rem .635rem 2rem
	border-radius: 45px
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
	margin-top: 2rem
	margin-bottom: 1rem
.last_form-agreement
	font-size: .75rem
	line-height: 1.35

.last-checkbox





.agreement-check
	display: none
	&:checked + .agreement-txt::before
		content: '✔'
		background-color: darken($accent, 20%)
		color: #fff
		box-shadow: 0 2px 4px 0 rgba(206, 108, 71, .5)

.agreement-txt
	display: inline-block
	padding-left: 25px
	position: relative
	&::before
		content: ''
		display: block
		width: 14px
		height: 14px
		border-radius: 3px
		background-color: #e8e8e8
		position: absolute
		left: 0
		font-size: .75rem
		line-height: 14px
		text-align: center












@include media-breakpoint-down(xl)
	.dell
		padding: 20px
	.quest_wrap
		flex-basis: 100%
	.last_wrap
		flex-basis: 100%
	.quest_body
		flex-basis: 78%
	.quest_info
		flex-basis: 22%

	.last_body
		padding: 40px
	.last_info
		padding: 40px



@include media-breakpoint-down(lg)
	.quest_item
		width: 100%
		margin-right: 0
	.last_body
		width: calc( 100% - 350px )
	.last_info
		width: 350px
	.last_wrap
		flex-direction: column

	.last_body
		width: 100%
		padding-bottom: 1.5rem
	.last_inner
		width: 100%
	.last_info
		width: 100%
		padding-top: 1.5rem
		padding-bottom: 60px

	.last_offer_title
		width: 420px
		margin-left: auto
		margin-right: auto

	.last_offer_wrap
		width: 420px
		margin-left: auto
		margin-right: auto
		.quest_offer_item:nth-child(even)
			margin-right: 0

	.quest_last_form
		width: 420px
		margin-right: auto
		margin-left: auto




@include media-breakpoint-down(md)
	.quest_wrap
		flex-direction: column
	.quest_body
		width: 100%
		flex-basis: 100%
		min-height: 650px
	.quest_inner
		padding-bottom: 2rem
	.quest_info
		display: none

@media only screen and (max-width : 540px)
	.last_offer_title
		width: 100%

	.last_offer_wrap
		width: 100%
		.quest_offer_item
			width: 100%
			margin-right: auto
			margin-left: auto
		.quest_offer_item:nth-child(even)
			margin-right: auto
	.quest_last_form
		width: 100%


@media only screen and (max-width : 420px)
	.quest_footer
		justify-content: center
	.quest_footer_stap_wrap
		display: none
