.dell
	display: flex
	//flex-direction: column
	justify-content: center
	justify-items: center
	//min-height: 100%
	min-height: 100vh
	background-color: rgba(0, 0, 0, .4)


.quest_wrap
	display: flex
	width: 1183px
	height: 650px
	box-sizing: border-box
	overflow: hidden
	border-radius: 5px



	margin: auto


.quest_body
	width: 923px
	height: 100%
	background-color: #fff

	padding: 30px
.quest_title
	font-size: 1.7rem
	font-weight: 500
	line-height: 1.15
	margin-bottom: 2rem
.quest_inner
	display: flex
	flex-wrap: wrap
	justify-content: space-between
.quest_item
	width: calc((100% / 2) - .5rem)
	min-height: 50px
	margin-right: 1rem
	margin-bottom: 1rem
	box-sizing: border-box
	border: 1px solid #e6e6e6
	border-radius: 5px

	&:nth-child(2)
		margin-right: 0

.quest_input
.quest_footer

.quest_info
	width: 260px
	background-color: #f7f7f7
